body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    color: #3C3E67;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
}
#footer{
    display: flex;
    max-height: 16vh;
    background-color: #3C3E67;
    width: 100%;
    flex-flow: row;
    flex-wrap: wrap;
    align-items: space-around;
    justify-content: center;
}
#footer p{
    color: whitesmoke;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold; 
    letter-spacing: 0.12em;
    font-size: 12px;
}
#footer img{
    width: 24px;
}