#name {
    position: absolute;
    width: 233px;
    height: 26px;
    left: 98px;
    top: 149px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: rgba(0, 0, 0, 0.71);
}