@media screen and (max-width:640px) {
    .container {
        background-color: #1C3047;
        height: 100vh;
        width: 100vw;
    }
    .register h2 {
        display: flex;
        justify-content: center;
        font-family: Montserrat;
        font-style: normal;
        font-size: 50px;
        line-height: 61px;
        letter-spacing: 0.02em;
        color: white;
        margin-top: 5%;
    }
    .register #form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 90vw;
    }
    .register button {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: white;
        background-color: transparent;
        border-style: solid;
        border-color: white;
    }
    .register input {
        width: 60%;
        border: none;
        border-bottom-style: solid;
        border-color: white;
        border-width: thin;
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        color: white;
        line-height: 50px;
        letter-spacing: 0.02em;
    }
    .register p {
        font-family: Montserrat;
        font-style: normal;
        font-size: 20px;
        line-height: 15px;
        letter-spacing: 0.02em;
        color: white;
        text-align: center;
    }
    .register #socialAuth {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-around;
    }
    .register .socialMedia {
        width: 40px;
        padding: 10px;
    }
}

@media screen and (min-width:641px) {
    .container {
        background-color: #1c3047;
        height: 90vh;
        width: 35vw;
    }
    .register {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-image: url("../images/wlcmDesk.png");
        width: 100vw;
        height: 100vh;
    }
    .register h2 {
        display: flex;
        justify-content: center;
        font-family: Montserrat;
        font-style: normal;
        font-weight: 800;
        font-size: 50px;
        line-height: 61px;
        text-align: center;
        letter-spacing: 0.02em;
        color: white;
        margin-top: 60px;
    }
    .register #form {
        align-items: center;
        width: 5vw;
        margin-left: 15%;
    }
    .register button {
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: white;
        background-color: transparent;
        border-style: solid;
        border-color: white;
        min-width: 193px;
        margin-bottom: 15%;
        padding: 10%;
        margin-left: 50px;
    }
    .register input {
        width: 30%;
        border: none;
        border-bottom-style: solid;
        border-color: white;
        border-width: thin;
        background-color: transparent;
        font-family: 'Montserrat', sans-serif;
        font-size: 25px;
        color: white;
        padding: 10px;
        line-height: 20px;
        letter-spacing: 0.02em;
        width: 320px;
        margin-bottom: 30%;
    }
    .register p {
        font-family: Montserrat;
        font-style: normal;
        font-weight: 600;
        font-size: 18px;
        line-height: 15px;
        letter-spacing: 0.02em;
        color: white;
        text-align: center;
    }
    .register #socialAuth {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: space-around;
    }
    .register .socialMedia {
        width: 60px;
        padding: 10px;
    }
}