body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F0C7A7;
    color: #3C3E67;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

h1{
    font-family: Montserrat;
    font-style: normal;
    font-weight: 800;
    font-size: 60px;
    line-height: 73px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
}

h2{
    font-weight: 800;
    font-size: 36px;
    line-height: 44px;
    letter-spacing: 0.02em;
}

button{
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: #3C3E67;
    background-color: transparent;
    border-style: solid;
    border-color: #3C3E67;
    padding: 5px;
    width: 40%;
    max-width: 200px;
    margin:5px;
}

input{
    width: 30%;
    border: none;
    border-bottom-style: solid;
    border-color: #3C3E67;
    border-width: thin;
    background-color: transparent;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: #3C3E67;
    padding: 5px;
    line-height: 20px;
    letter-spacing: 0.02em;
    margin:5px;
    width: 40%;
    max-width: 200px;
}

#welcomeUser{
    display: none;
}

.socialMedia{
    width: 40px;
    padding: 5%;
}